@media only screen and (max-width:767px) {
	#header {
		height: 10vh;
		border: 1px solid black;
	}

	.blogDiv {
		grid-template-columns: repeat(1, 1fr);
	}

	#menubar {
		position: absolute;
		display: block;
		right: 15px;
		z-index: 1;
	}

	#menubar i {
		font-size: 30px;

	}

	#heading {
		display: block;
		margin: 0px 20px;
	}

	#nav {
		position: absolute;
		display: none;
		left: 10px;
		width: 100%;
	}

	.lists {
		font-weight: bold;
		font-size: 13px;
		padding: 9px 8px;
	}
}