* {
	margin: 0px;
	padding: 0px;
}

body::-webkit-scrollbar { display: none; }

body {
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

#header {
	width: 100%;
	position: fixed;
	top: 0px;
	display: flex;
	background-color: white;
	/*border: 1px solid black;*/
	justify-content: space-between;
	align-items: center;
}

#menubar {
	display: none;
}

#heading {
	margin: 20px 70px;
}

#nav {
	display: flex;
}

.lists {
	padding: 15px 20px;
}

.lists a {
	color: black;
}

#main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactForm{
	width: 20%;
}

.header{
	text-align: center;
}

.inputs {
	width: 100%;
	height: auto;
	padding-top: 20px;
}

.inputDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0px;
	flex-direction: column;
}

.inputDiv textarea{
	font-family: 'Josefin Sans', sans-serif;
	outline: none;
	padding: 0px 5px;
	width: 100%;
}

.inputDiv span {
	color: red;
	padding: 5px 0px;
}

.input {
	font-family: 'Josefin Sans', sans-serif;
	outline: none;
	padding: 0px 5px;
	height: 30px;
	width: 100%;
}

.btnDiv {
	padding: 5px 0px;
}

.btnDiv button {
	outline: none;
	outline: auto;
	background: black;
	color: white;
	cursor: pointer;
	padding: 8px 0px;
	width: 100%;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}